.primary-tools {

   /* Cart Button */
   .cart-button {

      z-index: 15;
      position: relative;

      /* Number of items */
      .cart-count {
         font-family: arial !important;
         display: inline-block;
         font-weight: 400;
         height: 1.5625em; width: 1.5625em;
         line-height: 1.5625em;
         text-align: center;
         border-radius: 1.5625em;
         transition: background 0.5s ease, color 0.5s ease;
         text-shadow: none !important;
         &:empty { display: none; }
         html:not([dir="rtl"]) & {
            margin-left: 1px;
         }
         html[dir="rtl"] & {
            margin-right: 1px;
         }
         @media #{$breakpoint_3} {
            .menu-style-overlay & { display: none; }
         }
      }

   }

   /* Cart preview */
   .cart-preview-wrap {

      position: absolute;
      display: none;
      z-index: 5;
      top: 100%;
      padding-top: 600px;
      margin-top: -600px;
      width: 17.5em;
      line-height: 1.5;
      text-shadow: none !important;
      transition: opacity 0.25s ease 0s, visibility 0s ease 0.25s;

      &.is-hidden {
         display: none !important;
      }

      .menu-style-modern & {
         top: 105px;
      }

      .menu-style-modern.has-menu-tree & {
         top: 59px;
      }

      /* Remove styles set by header */
      &, & * { max-height: none !important; }

      /* Proper Alignment */
      html:not([dir="rtl"]) & {
         right: 0;
      }
      html[dir="rtl"] & {
         left: 0;
      }

      .cart-preview {

         box-shadow: rgba(0,0,0,0.05) 0px 3px 3px 3px;
         margin-top: 1px;

         ul {
            padding: 0.5em 1em 0 !important;
            margin: 0 !important;
            li {
               padding-top: 1em !important;
               padding-bottom: 1em !important;
               a {
                  padding: 0 !important;
               }
               &:last-child { border-bottom: none !important; }
            }
         }

         .total {
            margin: 0;
            padding: 0.5em 0;
            text-align: center;
         }

         .buttons {
            padding: 1.5em 0;
            margin: 0;
            text-align: center;
            .button {
               padding: 0.5em  1em !important;
               margin: 0 0.25em !important;
               border-radius: 3px !important;
               transition: color 0.25s ease, border 0.25s ease !important;
               text-transform: none;
               letter-spacing: 0px;
            }
         }

      }

   }

   @media #{$breakpoint_3} {
      .cart-preview-wrap {
         display: block;
         visibility: hidden;
         opacity: 0;
      }
      .cart-preview-wrap:hover,
      #cv-header-cart-button:hover + .cart-preview-wrap {
         opacity: 1;
         visibility: visible;
         transition: opacity 0.25s ease;
      }
   }

}