.AdvancedTabs > div > ul > li.vc_active > a {
    background-color: #a4001c !important;
    color : #ffffff !important ;
}
.AdvancedTabs > div > ul > li > a {
    background-color: #1e1e1c !important;
}
.AdvancedTabs > div > div { 
background-color: #ffffff !important;
width : 100% !important;
    
}
.AdvancedTabs > div > ul>li { 
border-left:1px solid #eeeeee;
}
.AdvancedTabs > div > ul { 
background-color: black;
}