.image-hover {

   display: block;
   overflow: hidden;
   position: relative;

   > * {
      width: 100%;
      display: block;
      overflow: hidden;
   }

   &:before, &:after {
      position: absolute;
      overflow: hidden;
      border-radius: inherit;
      top: 0; left: 0;
   }

   &:before {
      width: 100%;
      height: 100%;
      content: " ";
   }

   &:after {
      bottom: 0; right: 0;
      margin: auto;
      text-align: center;
   }

   &:before {
      box-shadow: inset rgba(0,0,0,0.75) 0px 0px 0 50%;
   }

   &[data-text]:after {
      content: attr(data-text);
      font-size: 1em;
      height: 50px;
      width: 100%;
      line-height: 50px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      transform: none;
   }

   &[data-icon]:after {
      font-family: "theme-icons";
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
      font-size: 40px;
      height: 60px;
      width: 60px;
      line-height: 60px;
   }

   &[data-icon="forward"]:after { content: '\e84a'; }
   &[data-icon="plus"]:after { content: '\e823'; }
   &[data-icon="expand"]:after { content: '\e8ce'; }

   &:not(.animate-image) {
      &:before, &:after { z-index: 15; opacity: 0; }
      &:before { transition: opacity 0.25s ease; }
      &:after { transition: opacity 0.25s ease; }
      &:hover:before, &:hover:after { opacity: 1; }
      &:not(.no-scaling) {
         > * { z-index: 5; transition: transform 0.25s ease; transform: none; }
         &:hover > * { transform: scale(1.075,1.075) rotate(1.5deg); }
      }
   }

   &.animate-image {
      &:before, &:after { z-index: 15; opacity: 0.75; transition: opacity 0.25s ease; }
      &:hover:before, &:hover:after { opacity: 1; }
      &:not(.no-scaling) {
         > * { z-index: 5; transition: transform 0.25s ease; transform: none; }
         &:hover > * { transform: scale(1.15,1.15) rotate(3deg); }
      }
   }

}