@import "../../../assets/scss/utilities/variables";
@import "../../../assets/scss/utilities/mixins";

$wp_breakpoint_1: "screen and (max-width: 782px)";

/* Add box padding */
#cv_template_builder {
   padding: 0 15px 15px;
}

/* Hidden elements */
.cv-builder-piece,
#cv-page-template-value { display: none; }
/* .cv-builder-piece { display: block; color: black !important; } */


.cv-builder-hidden #cv_template_builder,
.cv-builder-active #cv-default-editor-wrap { display: none !important; }

.cv-builder-active #cv_template_builder,
.cv-builder-hidden #cv-default-editor-wrap { display: block !important; }

#cv-loading-indicator {
   position: fixed;
   bottom: 0;
   left: 50%;
   margin-left: -200px;
   border-radius: 3px 3px 0 0;
   transition: margin 0.25s ease;
   height: 50px;
   line-height: 50px;
   width: 400px;
   background: #D2F28F;
   border: 1px solid #A2BF63;
   border-bottom: 0;
   box-shadow: rgba(0,0,0,0.2) 0px 0px 3px;
   color: #4C611F;
   text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
   font-size: 16px;
   font-weight: 200;
   text-align: center;
   z-index: 999999999999999999999999;
   .loading-icon {
      position: absolute;
      height: 16px;
      width: 16px;
      border-radius: 20px;
      border: 2px dashed #64802A;
      top: 15px;
      left: 15px;
      animation: rotating 2s linear infinite;
   }
   margin-bottom: -51px;
   .cv-builder-is-loading & { margin-bottom: 0; }
}
@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* == Fullscreen Mode == */

.cv-builder {
   background: #fff;
   box-sizing: border-box;
}
.cv-builder.is-fullscreen {
   position: fixed;
   top: 0; left: 0;
   height: 100%; width: 100%;
   padding: 0 15px 75px;
   overflow-y: auto;
   overflow-x: hidden;
   z-index: 99999;
}
.cv-fullscreen-only { display: none; }
body.cv-fullscreen-active .cv-fullscreen-only { display: block; }
body.cv-fullscreen-active { overflow: hidden; }

/* == Builder Header == */

.cv-builder-header {
   background: #fff;
}

/* == Builder Title == */

.cv-builder-title {
   text-align: center;
}

/* == Builder Toolbar == */

.cv-builder-toolbar,
.cv-toolbar-control,
.cv-toolbar-control > a {
   height: 60px;
   line-height: 60px;
   max-height: 60px;
}
.cv-builder-toolbar {
   display: block;
   background: #555;
   margin: 0 -15px 15px;
   list-style: none;
   background: -moz-linear-gradient(top,  #555555 0%, #444444 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#444444));
   background: -webkit-linear-gradient(top,  #555555 0%,#444444 100%);
   background: -o-linear-gradient(top,  #555555 0%,#444444 100%);
   background: -ms-linear-gradient(top,  #555555 0%,#444444 100%);
   background: linear-gradient(to bottom,  #555555 0%,#444444 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#444444',GradientType=0 );
   box-shadow: inset #444444 0px 0px 3px 3px;
}
.cv-builder.is-fullscreen .cv-builder-toolbar {
   background: #333;
   z-index: 12;
   box-shadow: none;
}
.cv-toolbar-control {
   position: relative;
}
.cv-toolbar-control > a {
   display: block;
   font-size: 12px;
   padding: 0 10px;
   color: #eee;
   text-shadow: #151515 0px 1px 1px;
   font-weight: 200;
   transition: all 0.25s ease;
}
.cv-toolbar-control.cv-preview-control {
   display: none !important;
}
@media #{$breakpoint_1} {
   .cv-builder.is-fullscreen .cv-toolbar-control.cv-preview-control {
      display: block !important;
   }
}
@media #{$breakpoint_2} {
   .cv-toolbar-control > a {
      font-size: 13px;
      padding: 0 15px;
   }
}
.cv-toolbar-control > a.has-icon i {
   display: none;
}
@media #{$breakpoint_2} {
   .cv-toolbar-control > a.has-icon i {
      display: inline;
   }
}
.cv-toolbar-control.is-disabled > a {
   color: rgba(255,255,255,0.5) !important;
   text-shadow: none;
   cursor: default;
}
.cv-builder.is-fullscreen .cv-toolbar-control > a {
   text-shadow: #000 0px 1px 1px;
}
.cv-toolbar-control:not(.is-disabled) > a:hover,
.cv-toolbar-control.is-active > a {
   color: #fff;
}
.cv-toolbar-control:not(.is-disabled) > a:hover {
   background: #444;
   box-shadow: inset #353535 0px 0px 3px 3px;
}
.cv-builder.is-fullscreen .cv-toolbar-control:not(.is-disabled) > a:hover {
   background: #222;
   box-shadow: none;
}
.cv-toolbar-control.is-active > a {
   background: #333 !important;
   box-shadow: inset #151515 0px 0px 3px 3px !important;
}
.cv-builder.is-fullscreen .cv-toolbar-control.is-active > a {
   background: #000 !important;
   box-shadow: none !important;
}

/* Dropdown control */
.cv-dropdown-control .cv-dropdown {
   display: none;
   position: absolute;
   z-index: 900;
   top: 60px;
   width: 275px;
   max-height: 300px;
   overflow-x: hidden;
   overflow-y: auto;
   background: #f9f9f9;
   border: 1px solid #ddd;
   border-top: none;
   box-shadow: rgba(0,0,0,0.05) 0px 2px 3px 3px;
}
.cv-dropdown-control.is-active .cv-dropdown {
   display: block;
}
.cv-dropdown-control .cv-dropdown li {
   margin-bottom: 0;
}
.cv-dropdown-control .cv-dropdown a {
   position: relative;
   font-size: 13px;
   line-height: 45px;
   height: 45px;
   display: block;
   padding: 0 15px;
   color: #555;
   border-bottom: 1px solid #eee;
}
.cv-dropdown-control .cv-dropdown a.has-icon {
   max-height: 45px;
   overflow: hidden;
}
.cv-dropdown-control .cv-dropdown li:last-child a {
   border-bottom: none;
}
.cv-dropdown-control .cv-dropdown li.active-item a {
   font-weight: 600;
}
.cv-dropdown-control .cv-dropdown li.active-item ~ li {
   opacity: 0.35;
}
.cv-dropdown-control .cv-dropdown li.active-item a,
.cv-dropdown-control .cv-dropdown a:hover {
   color: #111;
   background: #f5f5f5;
}
.cv-dropdown-control .cv-dropdown .has-icon i {
   width: 35px;
   text-align: center;
}
.cv-dropdown-control .cv-dropdown li.active-item .has-icon i,
.cv-dropdown-control .cv-dropdown .has-icon:hover i {
   border-color: #f5f5f5;
}
.cv-dropdown-control .cv-dropdown .cv-dropdown-info,
.cv-dropdown-control .cv-dropdown .cv-dropdown-header {
   background: #f9f9f9;
   border-bottom: 1px solid #eee;
}
.cv-dropdown-control .cv-dropdown li:last-child .cv-dropdown-info,
.cv-dropdown-control .cv-dropdown li:last-child .cv-dropdown-header {
   border-bottom: none;
}
.cv-dropdown-control .cv-dropdown .cv-dropdown-info p {
   padding: 15px;
   line-height: 25px;
   color: #777;
}
.cv-dropdown-control .cv-dropdown .cv-dropdown-info input {
   padding: 15px;
   line-height: 20px;
   border: none;
   border-bottom: 1px solid #eee;
   outline: none;
   display: block;
   width: 100%;
   box-shadow: none;
   box-sizing: border-box;
   margin: 0 !important;
}
.cv-dropdown-control .cv-dropdown .cv-dropdown-header strong {
   padding: 0 15px;
}

/* == History Tracker == */

.cv-history .cv-state-template { display: none; }

/* == Template Manager == */

#cv-templates:not(.is-empty) #cv-no-templates-notice,
.cv-templates.cv-creating-template #cv-no-templates-notice,
.cv-template-container .cv-saved-template,
.cv-templates.cv-creating-template .cv-add-template,
.cv-templates .cv-create-template { display: none; }
.cv-templates.cv-creating-template .cv-create-template { display: block; }

.cv-template-container {
   height: 46px;
   overflow: hidden;
   opacity: 1;
   transition: all 0.35s ease 0.25s;
   backface-visibility: hidden;
}
.cv-template-container.being-removed {
   height: 0 !important;
   opacity: 0;
}
.cv-templates .cv-delete-template {
   position: absolute;
   top: 0;
   height: 100%;
   width: 60px;
   text-align: center;
   background: #f5f5f5;
   transition: all 0.25s ease;
   backface-visibility: hidden;
}
.cv-templates .cv-delete-template i {
   border: none !important;
}
.cv-templates .cv-delete-template:hover {
   color: #fff;
   background: #D65851;
   border-color: #D65851;
}
.cv-templates .being-removed .cv-delete-template {
   background: #D65851;
   color: #D65851;
   width: 100%;
   border-color: #D65851;
   margin: 0 !important;
}
html:not([dir="rtl"]) {
   .cv-templates .cv-delete-template {
      right: 0;
      margin-right: -60px;
      border-left: 1px solid #eee;
   }
}
html[dir="rtl"] {
   .cv-templates .cv-delete-template {
      left: 0;
      margin-left: -60px;
      border-right: 1px solid #eee;
   }
}
.cv-templates a:hover .cv-delete-template {
   margin: 0 !important;
}

/* Language Directions */
html:not([dir="rtl"]) {
   .cv-toolbar-control {
      float: left;
   }
   .cv-toolbar-control.cv-control-right {
      float: right;
   }
   .cv-toolbar-control > .has-icon > i {
      float: left;
      padding-right: 7px;
   }
   .cv-dropdown-control .cv-dropdown {
      left: 0;
   }
   .cv-dropdown-control.cv-control-right .cv-dropdown {
      left: auto;
      right: 0 !important;
   }
   .cv-dropdown-control .cv-dropdown a.has-icon {
      padding: 0 15px 0 0;
   }
   .cv-dropdown-control .cv-dropdown a.has-icon i {
      border-right: 1px solid #eee;
      float: left;
      margin-right: 10px;
   }
}
html[dir="rtl"] {
   .cv-toolbar-control {
      float: right;
   }
   .cv-toolbar-control.cv-control-right {
      float: left;
   }
   .cv-toolbar-control > .has-icon > i {
      float: right;
      padding-left: 7px;
   }
   .cv-dropdown-control .cv-dropdown {
      right: 0;
   }
   .cv-dropdown-control.cv-control-right .cv-dropdown {
      right: auto;
      left: 0 !important;
   }
   .cv-dropdown-control .cv-dropdown a.has-icon {
      padding: 0 0 0 15px;
   }
   .cv-dropdown-control .cv-dropdown a.has-icon i {
      border-left: 1px solid #eee;
      float: right;
      margin-left: 10px;
   }
}

/* == Display rendered modules == */

.cv-builder-canvas {
   min-height: 231px;
   position: relative;
   box-sizing: border-box;
}

/* Universal Typography */
.cv-builder a {
   cursor: pointer;
   outline: none;
}

/* Make sure columns are displayed correctly */
.cv-builder-canvas [class*="cv-split-"] > * {
   position: relative;
   min-height: 115px;
}
.cv-builder-canvas [class*="cv-split-"] > * {
   float: left;
}

/* == Adding new modules == */

.cv-new-modules .cv-builder-module {
   opacity: 0;
   transform: scale(0.9);
   transition: all 0.25s ease !important;
}
.cv-new-modules.being-added .cv-builder-module {
   opacity: 1;
   transform: scale(1);
}
.cv-new-modules.being-added .cv-builder-module[data-droptarget="0"] {
   transition-delay: 0 !important;
}
.cv-new-modules.being-added .cv-builder-module[data-droptarget="1"] {
   transition-delay: 0.25s !important;
}
.cv-new-modules.being-added .cv-builder-module[data-droptarget="2"] {
   transition-delay: 0.5s !important;
}


/* Add Module Button */
.cv-add-module {
   display: block;
   padding-bottom: 25px;
   color: rgba(0,0,0,0.45) !important;
   font-size: 12px;
   transition: color 0.25s ease;
}
.cv-add-module i {
   margin: 0 5px;
}
.cv-add-module[data-droptarget="0"] {
   padding-bottom: 15px;
}
.cv-add-module:hover {
   color: rgba(0,0,0,0.65) !important;
}

/* Dropzone */
.cv-dropzone {
   min-height: 35px;
   padding: 25px 0 10px 0;
}
.cv-dropzone[data-dropzone="0"] {
   padding: 0 0 5px;
}
.cv-dropzone.hide-placeholder .cv-module-placeholder {
   display: none !important;
}

/* Empty Dropzone */
.cv-dropzone:empty,
.cv-dropzone.is-empty,
.cv-dropzone[data-dropzone="1"]:empty + .cv-add-module,
.cv-dropzone.is-empty[data-dropzone="1"] + .cv-add-module {
   position: absolute;
   top: 0; left: 0; right: 0;
}
.cv-dropzone:empty,
.cv-dropzone.is-empty {
   height: 100%;
   width: 95%;
   margin: 0 auto;
   padding: 0;
}
.cv-dropzone[data-dropzone="0"]:empty,
.cv-dropzone.is-empty[data-dropzone="0"] {
   display: none;
}
.cv-dropzone:empty + .cv-add-module,
.cv-dropzone.is-empty + .cv-add-module {
   text-align: center;
   font-weight: 200;
   padding-bottom: 0;
}
.cv-dropzone[data-dropzone="0"]:empty + .cv-add-module,
.cv-dropzone.is-empty[data-dropzone="0"] + .cv-add-module {
   height: 231px;
   line-height: 231px;
   width: 100%;
   font-size: 20px;
   z-index: 10;
}
.cv-dropzone[data-dropzone="1"]:empty + .cv-add-module,
.cv-dropzone.is-empty[data-dropzone="1"] + .cv-add-module {
   height: 35px;
   line-height: 35px;
   margin: 75px auto;
   font-size: 18px;
   width: 150px;
}
.cv-dropzone[data-dropzone="2"]:empty + .cv-add-module,
.cv-dropzone.is-empty[data-dropzone="2"] + .cv-add-module {
   position: relative;
   height: 46px;
   line-height: 46px;
   border: 2px dashed rgba(0,0,0,0.075);
   margin-top: 25px;
   border-radius: 3px;
}

/* Builder modules */
.cv-builder-module {
   margin-bottom: 15px;
   position: relative;
   z-index: 5;
   cursor: move;
   transition: opacity 0.25s ease;
   border-radius: 3px;
   transform: scale(1);
   backface-visibility: hidden;
   opacity: 1;
   overflow: hidden;
}

.cv-module-content {
   overflow: hidden;
}

/* being Edited State */
.cv-builder-module.being-edited {
   filter: blur(2px);
   opacity: 0.75;
}

.cv-module-icon { margin: 0 5px; }

.cv-builder-module.cv-dragging {
   z-index: 999;
   opacity: 0.5;
}

.cv-builder-module.being-added,
.cv-builder-module.being-removed {
   transition: all 0.25s ease;
   overflow: hidden;
}

.cv-builder-module.is-added,
.cv-builder-module.is-removed {
   min-height: 0 !important;
   margin-bottom: 0 !important;
   height: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   opacity: 0 !important;
}

.cv-module-placeholder {
   height: 50px;
   margin-bottom: 15px;
   border: 2px dashed #A2D164;
   background: #F0F7E6;
   border-radius: 3px;
   box-sizing: border-box;
}

/* No drop zone */
.cv-builder-module.no-dropzone[data-droptarget="2"],
.cv-builder-module.no-dropzone[data-droptarget="3"] {

   height: 50px;
   line-height: 50px;
   background: #757575;
   box-sizing: border-box;

   .cv-module-title {
      text-align: center;
      color: #fff;
      font-weight: 200;
      font-size: 14px;
      position: absolute;
      z-index: 6;
      top: 0; left: 0;
      width: 100%;
      height: 50px;
      margin-top: 0;
      text-shadow: #222 0px 1px 2px;
      transition: all 0.25s ease;
      transform: scale(1) translate(0px,0px);
      backface-visibility: hidden;
   }

   .cv-module-controls {
      text-align: center;
      position: absolute;
      z-index: 8;
      top: 0; left: 0; right: 0;
      max-width: 150px;
      margin: 0 auto;
      height: 50px;
      line-height: 25px;
      padding: 5px 0;
   }

   .cv-module-controls a {
      display: inline-block;
      padding: 0px 10px;
      color: rgba(255,255,255,0) !important;
      background: transparent;
      border-radius: 3px;
   }

   &:hover > .cv-module-title {
      color: #bbb;
      text-shadow: none;
      transform: scale(0.75) translate(0px,15px);
   }

   &:hover .cv-module-controls a {
      color: rgba(255,255,255,0.75) !important;
   }

   .cv-module-controls a:hover {
      color: rgba(255,255,255,1) !important;
      background: #454545;
   }

   /* With Preview */
   &.cv-has-preview {
      height: auto;
      .cv-module-content {
         margin: 50px 0 0;
         padding: 15px;
         line-height: 25px;
         font-weight: 200;
         color: rgba(255,255,255,0.6);
         text-shadow: rgba(0,0,0,0.45) 0px 1px 2px;
         background: rgba(0,0,0,0.2);
         box-shadow: inset rgba(0,0,0,0.15) 0px 0px 4px 4px;
         border-radius: 0px 0px 3px 3px;
         * { color: rgba(255,255,255,0.6); }
         ul { list-style-type: disc; list-style-position: inside; }
         ol { list-style-type: decimal; list-style-position: inside; }
         img { max-width: 100%; }
         .cv-builder-module {
            border: 1px solid rgba(255,255,255,0.15) !important;
            background: rgba(0,0,0,0.05) !important;
            border-radius: 0px;
            .cv-module-title {
               padding: 0 10px;
               html:not([dir="rtl"]) & { text-align: left; }
               html[dir="rtl"] & { text-align: center; }
            }
         }
      }
      .cv-module-preview {
         position: relative;
         max-height: 350px;
         overflow: hidden;

         /* Headers */
         h1, h2, h3, h4, h5, h6 {
            color: rgba(255,255,255,0.8) !important;
            font-weight: 200 !important;
            margin: 0.25em 0 0.25em !important;
            padding: 0 !important;
            border: none !important;
         }
         h1 { font-size: 2em !important; }
         h2 { font-size: 1.75em !important; }
         h3 { font-size: 1.5em !important; }
         h4 { font-size: 1.25em !important; }
         h5 { font-size: 1em !important; }
         h6 { font-size: 0.75em !important; }

         /* General typography */
         strong { color: rgba(255,255,255,0.8) !important; }
         a {
            color: rgba(255,255,255,0.8) !important;
            border-bottom: 1px dotted rgba(255,255,255,0.5);
            text-decoration: none;
         }

         [class*="cv-dropcap-"] {
            font-weight: 600;
            font-size: 140%;
         }

         [class*="cv-highlight-"] {
            background: rgba(0,0,0,0.1);
            padding: 0.3125em;
         }
      }
      .cv-module-preview-cover {
         position: absolute;
         top: 0; left: 0;
         width: 100%; height: 100%;
         cursor: pointer;
         z-index: 999;
      }
   }

}
.cv-builder-module.no-dropzone[data-droptarget="3"] {

   background: #fff;
   border: 1px solid #ddd;
   box-shadow: rgba(0,0,0,0.025) 0px 0px 3px 3px;

   .cv-module-title {
      color: #777;
      text-shadow: none;
   }

   .cv-module-controls:hover + .cv-module-title {
      color: #ddd;
   }

   .cv-module-controls a {
      color: rgba(0,0,0,0) !important;
   }

   &:hover .cv-module-controls a {
      color: rgba(0,0,0,0.75) !important;
   }

   .cv-module-controls a:hover {
      color: rgba(0,0,0,1) !important;
      background: #f9f9f9;
   }

   /* With Preview */
   &.cv-has-preview .cv-module-content {
      color: rgba(0,0,0,0.5);
      text-shadow: rgba(255,255,255,0.45) 0px 1px 2px;
      background: rgba(0,0,0,0.025);
      border-top: 1px solid #ddd;
      box-shadow: inset rgba(0,0,0,0.025) 0px 0px 4px 4px;
      * { color: rgba(0,0,0,0.5) !important; }
      strong { color: rgba(0,0,0,0.75) !important; }
   }

}

/* With drop zone */
.cv-builder-module.has-dropzone,
.cv-builder-module.no-dropzone[data-droptarget="0"],
.cv-builder-module.no-dropzone[data-droptarget="1"] {

   &[data-droptarget="0"] {
      background: #f9f9f9;
      min-height: 185px;
   }

   &[data-droptarget="1"] {
      background: #fff;
      min-height: 115px;
      box-shadow: rgba(0,0,0,0.025) 0px 1px 2px 2px;
   }

   & > .cv-module-content {
      padding: 0 15px;
   }

   & > .cv-module-controls {
      position: absolute;
      top: 0;
      width: 35px;
      height: 100%;
      padding: 5px 0;
      line-height: 25px;
      box-sizing: border-box;
   }

   & > .cv-module-controls > a {
      display: block;
      text-align: center;
      padding: 5px 0;
   }

   /* == Color Schemes == */

   /* Global Styles */
   &[data-droptarget="0"] > .cv-module-controls {
      a {
         color: rgba(255,255,255,0.75) !important;
         &:hover {
            color: rgba(255,255,255,1) !important;
         }
      }
   }
   &[data-droptarget="1"] > .cv-module-controls {
      a {
         color: rgba(255,255,255,0.75) !important;
         &:hover {
            color: rgba(255,255,255,1) !important;
         }
      }
   }

   /* Fresh / Default Skin */
   &[data-droptarget="0"] > .cv-module-controls {
      background: #0074a2;
   }
   &[data-droptarget="1"] > .cv-module-controls {
      background: #2ea2cc;
   }

   /* Light Skin */
   .admin-color-light & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #888;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #e5e5e5;
         a {
            color: rgba(0,0,0,0.35) !important;
            &:hover {
               color: rgba(0,0,0,0.75) !important;
            }
         }
      }
   }

   /* Blue Skin */
   .admin-color-blue & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #096484;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #4796b3;
      }
   }

   /* Coffee Skin */
   .admin-color-coffee & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #c7a589;
         a {
            color: rgba(70,64,60,0.75) !important;
            &:hover {
               color: rgba(70,64,60,1) !important;
            }
         }
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #9ea476;
      }
   }

   /* Ectoplasm Skin */
   .admin-color-ectoplasm & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #523f6d;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #a3b745;
      }
   }

   /* Midnight Skin */
   .admin-color-midnight & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #363b3f;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #e14d43;
      }
   }

   /* Ocean Skin */
   .admin-color-ocean & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #738e96;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #9ebaa0;
      }
   }

   /* Sunrise Skin */
   .admin-color-sunrise & {
      &[data-droptarget="0"] > .cv-module-controls {
         background: #b43c38;
      }
      &[data-droptarget="1"] > .cv-module-controls {
         background: #dd823b;
      }
   }

   /* == Language Directions == */

   html:not([dir="rtl"]) & > {
      .cv-module-controls {
         left: 0px;
         border-radius: 3px 0px 0px 3px;
      }
      .cv-module-content {
         margin-left: 35px;
      }
   }

   html[dir="rtl"] & > {
      .cv-module-controls {
         right: 0px;
         border-radius: 0px 3px 3px 0px;
      }
      .cv-module-content {
         margin-right: 35px;
      }
   }

}

/* No drop zone but target = 0 (Full width elements) */
.cv-builder-module.no-dropzone[data-droptarget="0"] {

   height: 185px;

   & > strong {
      display: block;
      text-align: center;
      font-size: 24px;
      font-weight: 200;
      line-height: 185px;
   }

   & > .cv-module-content {
      display: none;
   }

}
.cv-builder-module.no-dropzone[data-droptarget="1"] {

   height: 115px;

   & > strong {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      line-height: 115px;
      color: #888;
   }

   & > .cv-module-content {
      display: none;
   }

}
