.posts-wrapper {
   position: relative;
}

.post {

   .cv-read-more-button { margin-bottom: 0; }

   &.style-standard {

      /* Sticky Posts */
      &.sticky {
         font-size: 1.25em;
         .post-title a {
            font-size: 1.25em;
            font-weight: 300;
         }
         .post-box .entry-content {
            font-weight: 600;
         }
      }

      &.not-single { margin-bottom: 6em; }

      /* Featured Content */
      .post-featured-content { margin-bottom: 1em; }

      /* Featured Image */
      .post-featured-image img { display: block; border-radius: 3px; }

      /* Post Title */
      .post-title {
         margin: 0;
         font-size: 1.75em;
         font-weight: 400;
      }
      .post-title a {
         text-decoration: none;
         transition: color 0.15s ease;
      }

      /* Post Meta */
      .post-meta {

         margin-bottom: 0.9375em;
         margin-bottom: 0.625em;

         a, span {
            text-decoration: none;
         }

         > li:not(:last-child):after {
            content: "/";
            margin: 0 0.5em;
            opacity: 0.5;
         }

         .post-category {
            a:not(:last-child):after {
               content: ",";
               margin-right: 0.1875em;
            }
         }

      }

      /* Post Formats */
      .post-featured-gallery {
         overflow: hidden;
         font-size: 5px;
         margin-bottom: -$spacing_1;
         img { display: block; }
         > div > div {
            margin-bottom: $spacing_1 !important;
         }
      }

      .post-featured-content .fluid-width-video-wrapper {
         margin-bottom: 0;
      }

      .post-featured-content * {
         max-width:100%;
      }

      .post-featured-box {
         padding: 1.25em 1.5em;
         margin-bottom: 0.9375em;
         position: relative;
         .primary-content {
            a {
               text-decoration: none;
               transition: color 0.15s ease;
               font-size: 1.5em;
               font-weight: 300;
            }
            &.aside-content {
               font-size: 1.25em;
            }
         }
         .secondary-content {
            font-style: italic;
            font-weight: 600;
            font-size: 1.25em;
         }
      }

      .post-featured-image + .post-featured-box {
         border-top: 0;
      }

      .post-featured-quote .quote-content {
         font-style: italic;
      }

      .post-featured-quote:after {
         position: absolute;
         font-family: 'theme-icons';
         content: "\ea38";
         font-size: 25px;
         html:not([dir="rtl"]) & {
            right: 10px;
            bottom: 10px;
         }
         html[dir="rtl"] & {
            left: 10px;
            bottom: 10px;
         }
      }

      .post-featured-link:after {
         position: absolute;
         font-family: 'theme-icons';
         content: "\e82e";
         font-size: 25px;
         html:not([dir="rtl"]) & {
            right: 10px;
            bottom: 10px;
         }
         html[dir="rtl"] & {
            left: 10px;
            bottom: 10px;
         }
      }

   }

}