#header {

   z-index: 1200;
   position: relative;
   transition: background 0.25s ease;
   box-sizing: content-box;
   height: 85px;
   line-height: 85px;
   * { max-height: 85px; }

   & { padding-top: 50px; }
   @media #{$breakpoint_1} { & {
      padding-top: 0;
   } }

   #primary-tools {
      margin: 0 auto;
      left: 0; right: 0;
      @media #{$breakpoint_1} { & {
         margin: 0;
         left: auto; right: auto;
         width: auto !important;
      } }
   }

   .cv-user-font { position: relative; height: 100%; }

   /* Sticky Header */
   &.is-stuck {
      position: fixed !important;
      width: 100%;
      top: 0 !important;
      left: 0; right: 0;
      margin: 0 auto;
   }

   /* When sticky menu is active */
   &.sticky-menu-active {
      border-bottom: 1px solid transparent !important;
      box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px !important;
   }

   /* Container Sizes */
   .container-layout-boxed-70 &.is-stuck { max-width: 70em; }
   .container-layout-boxed-75 &.is-stuck { max-width: 75em; }
   .container-layout-boxed-80 &.is-stuck { max-width: 80em; }
   .container-layout-boxed-85 &.is-stuck { max-width: 85em; }

   @media #{$breakpoint_3} { & {
      &.menu-style-modern {

         height: auto !important;

         .wrap {
            padding-top: 20px;
            padding-bottom: 20px;
            max-height: none !important;
         }

         &.has-menu-tree {

            .header-logo {
               margin-top: 12.5px;
            }

            .navigation-container {
               line-height: 60px;
               max-height: 60px;
               margin-bottom: 50px;
               border-bottom-width: 1px;
               border-bottom-style: solid;
               .primary-menu.modern-menu > li.current_page_item.page_item_has_children,
               .primary-menu.modern-menu > li.current-menu-item.menu-item-has-children,
               .primary-menu.modern-menu > li.current_page_ancestor,
               .primary-menu.modern-menu > li.current-menu-ancestor {
                  &:after {
                     content: "";
                     position: absolute;
                     height: 10px;
                     top: 50px; left: 50%;
                  }
                  ul {
                     opacity: 0;
                     transition: opacity 0.25s ease;
                     display: block !important;
                     position: absolute;
                     left: 50%;
                     width: 1000px;
                     line-height: 35px;
                     height: 35px;
                     overflow: hidden;
                     cursor: default;
                     text-align: center;
                     li {
                        display: inline;
                        cursor: default;
                        a {
                           padding: 0 5px;
                           text-transform: uppercase;
                           letter-spacing: 1px;
                           text-shadow: none !important;
                        }
                     }
                  }
               }
               .primary-menu.modern-menu > li.current_page_item.page_item_has_children ~ li.current_page_item.page_item_has_children,
               .primary-menu.modern-menu > li.current-menu-item.menu-item-has-children ~ li.current-menu-item.menu-item-has-children,
               .primary-menu.modern-menu > li.current_page_ancestor ~ li.current_page_ancestor,
               .primary-menu.modern-menu > li.current-menu-ancestor ~ li.current-menu-ancestor {
                  &:after { display: none; }
                  ul { display: none !important; }
               }
            }
         }
      }
   } }

   /* Show / Hide responsive menu button */
   @media #{$breakpoint_3} { & {
      &:not(.menu-style-overlay) {
         .navigation-container .primary-tools .menu-button {
            display: none;
         }
      }
   } }

   /* Overlay Menu Style */
   @media #{$breakpoint_4} { & {
      &.menu-style-overlay {
         .navigation-container {
            .social-profile a,
            .primary-tools > a { font-size: 1.75em; }
         }
      }
   } }

   /* navigation */
   .navigation-container {

      html:not([dir="rtl"]) & > * { float: left; }
      html[dir="rtl"] & > * { float: right; }

      /* Primary Menu Modern Style */
      .primary-menu.modern-menu {
         &, & ul {
            list-style: none;
            padding: 0; margin: 0;
         }
         & ul { display: none; }
         li { position: relative; }
         html:not([dir="rtl"]) & > li { float: left; }
         html[dir="rtl"] & > li { float: right; }
         a {
            text-decoration: none;
            transition: background 0.15s ease, color 0.15s ease;
         }
         > li {
            padding-bottom: 1px;
            box-sizing: content-box;
            transition: background 0.15s ease;
         }
         > li > a {
            display: block;
            font-size: 1.25em;
            padding: {
               left: 15px;
               right: 15px;
            };
         }
         ul a {
            font-size: 0.85em;
         }
      }

      /* Primary Menu Dropdown Style */
      .primary-menu.dropdown-menu {

         &, & ul {
            list-style: none;
            padding: 0; margin: 0;
         }
         li { position: relative; }
         html:not([dir="rtl"]) & > li { float: left; }
         html[dir="rtl"] & > li { float: right; }
         a {
            display: block;
            text-decoration: none;
            transition: background 0.15s ease, color 0.15s ease;
         }
         ul a {
            transition: all 0.15s ease;
         }
         > li {
            padding-bottom: 1px;
            box-sizing: content-box;
            transition: background 0.15s ease;
         }
         > li > a {
            display: block;
            padding: {
               left: 13px;
               right: 13px;
            };
         }

         /* Bolds current top page link */
         /* > li.current_page_item > a,
         > li.current-menu-ancestor > a,
         > li.current_page_ancestor > a {
            font-weight: 600 !important;
         } */

         /* Bolds current page link */
         /* li li.current-menu-item > a,
         li li.current_page_item > a {
            font-weight: 600 !important;
         } */

         /* Drop down arrows */
         > li.menu-item-has-children,
         > li.page_item_has_children {
            > a:after {
               font-family: 'theme-icons';
               content: '\e8ad';
               margin-left: 3px;
               opacity: 0.75;
            }
         }

         /* Sub Menu Arrows */
         > li > {
            ul {
               .menu-item-has-children,
               .page_item_has_children {
                  > a:after {
                     font-family: 'theme-icons';
                     opacity: 0.5;
                     transition: opacity 0.15s ease;
                     html:not([dir="rtl"]) & {
                        content: "\e8ab";
                        float: right;
                     }
                     html[dir="rtl"] & {
                        content: "\e8aa";
                        float: left;
                     }
                  }
                  &:hover > a:after { opacity: 1; }
               }
            }
         }

         /* Sub menus */
         ul {
            position: absolute;
            width: 14em;
            cursor: pointer;
            z-index: 70 !important;
            max-height: none !important;
            margin-top: 0px;
            box-shadow: rgba(0,0,0,0.05) 0px 3px 2px 2px;
            ul {
               box-shadow: rgba(0,0,0,0.05) 0px 0px 2px 2px;
               margin-top: 0px !important;
            }
            a {
               line-height: 1.25;
               padding: 15px 15px;
               text-shadow: none !important;
               transition: color 0.25s ease, background 0.25s ease, padding 0.25s ease;
               font-weight: 400;
               &:hover {
                  padding: 15px 10px 15px 20px;
               }
            }
         }

         /* Mega Menus */
         > .mega-menu[class*="columns-"] {

            $mega_menu_width: 15em;

            > ul {

               overflow: hidden;
               box-sizing: content-box;
               padding: 2em 0 !important;
               &, * { max-height: none !important; }

               a, li {
                  border: none;
                  &:after, &:before { display: none; }
               }

               a {
                  border: none !important;
                  padding: 10px 25px;
                  &:hover {
                     padding: 10px 20px 10px 30px;
                  }
               }

               li.title > a {
                  background: transparent !important;
                  font-weight: 600;
                  text-transform: uppercase;
                  &:hover { padding: 10px 25px; }
               }

               ul { box-shadow: none; }

               > li {
                  width: $mega_menu_width;
                  height: 100%;
                  padding: 0 !important;
                  html:not([dir="rtl"]) & {
                     float: left;
                     &:last-child { border-right: none !important; }
                  }
                  html[dir="rtl"] & {
                     float: right;
                     &:first-child { border-right: none !important; }
                  }
                  &:not(.title):hover > a:not(:hover) {
                     background: transparent;
                  }
                  > ul {
                     position: relative !important;
                     opacity: 1 !important;
                     margin: 0 !important;
                     display: block !important;
                     left: auto !important;
                     right: auto !important;
                     padding: 0 !important;
                     width: 100% !important;
                     ul { display: none !important; }
                  }
               }

            }

            &.columns-2 {
               > ul {
                  width: $mega_menu_width*2;
                  margin-left: -($mega_menu_width*2)/2;
                  > li:nth-child(2) ~ li { display: none !important; }
               }
               &.full-width > ul > li { width: 50% !important; }
            }

            &.columns-3 {
               > ul {
                  width: $mega_menu_width*3;
                  margin-left: -($mega_menu_width*3)/2;
                  > li:nth-child(3) ~ li { display: none !important; }
               }
               &.full-width > ul > li { width: 33.3% !important; }
            }

            &.columns-4 {
               > ul {
                  width: $mega_menu_width*4;
                  margin-left: -($mega_menu_width*4)/2;
                  > li:nth-child(4) ~ li { display: none !important; }
               }
               &.full-width > ul > li { width: 25% !important; }
            }

            &.columns-5 {
               > ul {
                  width: $mega_menu_width*5;
                  margin-left: -($mega_menu_width*5)/2;
                  > li:nth-child(5) ~ li { display: none !important; }
               }
               &.full-width > ul > li { width: 20% !important; }
            }

            &.columns-6 {
               > ul {
                  width: $mega_menu_width*6;
                  margin-left: -($mega_menu_width*6)/2;
                  > li:nth-child(6) ~ li { display: none !important; }
               }
               &.full-width > ul > li { width: 16.667% !important; }
            }

         }

         /* Without JavaScript */
         .no-js & {
            ul { left: -999999px; }
            ul li:hover > ul { top: 0px; }
            html:not([dir="rtl"]) & {
               li:hover > ul {
                  top: 100%;
                  right: auto;
                  left: 0px;
               }
               > li.mega-menu:hover > ul {
                  left: 50%;
               }
               ul li:hover > ul {
                  top: 0;
                  right: auto;
                  left: 100%;
                  margin-left: -1px;
               }
            }
            html[dir="rtl"] & {
               li:hover > ul {
                  top: 100%;
                  right: 0px;
                  left: auto;
               }
               > li.mega-menu:hover > ul {
                  left: 50%;
                  right: auto;
               }
               ul li:hover > ul {
                  top: 0;
                  right: auto;
                  left: -100%;
                  margin-left: 1px;
               }
            }
         }

         /* With JavaScript */
         .js & {
            ul {
               opacity: 0;
               top: 100%;
               left: 0px;
               display: none;
            }
            .is-active > ul { display: block; }
            ul ul {
               opacity: 0;
               top: 0px;
            }
            html:not([dir="rtl"]) & {
               ul {
                  right: auto;
                  left: 0px;
               }
               > li.mega-menu > ul {
                  left: 50%;
               }
               ul ul {
                  right: auto;
                  left: 100%;
                  margin-left: -1px;
               }
            }
            html[dir="rtl"] & {
               ul {
                  right: 0px;
                  left: auto;
               }
               > li.mega-menu > ul {
                  left: 50%;
                  right: auto;
               }
               ul ul {
                  right: auto;
                  left: -100%;
                  margin-left: 1px;
               }
            }
         }
      }

      /* Navigation tools */
      .primary-tools {

         cursor: default;
         position: fixed;
         top: -50px;
         top: 0px;
         margin: 0;
         width: 100%;
         z-index: 120;

         @media #{$breakpoint_1} { & {
            position: relative;
            top: 0px;
            right: auto;
            left: auto;
            border-bottom: none;
            background: transparent;
            width: auto;
         } }

         a {

            float: left;
            border-radius: 0px;
            text-decoration: none;
            padding: 0 25px;
            font-size: 1em;
            height: 50px;
            line-height: 50px;
            transition: border 0.15s ease, color 0.15s ease;

            @media #{$breakpoint_1} { & {
               height: auto;
               line-height: inherit;
               border-bottom: none;
               background: transparent;
               padding: 0 15px;
            } }

            @media #{$breakpoint_2} { & {
               padding: 0 25px;
               font-size: 18px;
            } }

            @media #{$breakpoint_3} { & {
               float: none;
               border: none !important;
               font-size: 1em;
               padding: 0 10px;
            } }

         }
      }

      /* Social Media */
      .primary-social {
         cursor: default;
         padding: 0;
         list-style: none;
         margin: 0;
         li { display: inline; }
         a {
            text-decoration: none;
            transition: color 0.25s ease;
            padding: 0 5px;
            span { display: none; }
         }
      }

   }

   &.transparency-active {
      transition: background 0.5s ease, border 0.5s ease, box-shadow 0.15s ease;
      .logo-image { transition: opacity 0.5s ease; }
      .primary-logo { opacity: 1; }
      .secondary-logo { opacity: 0; }
   }

   /* Transparent Header */
   &.is-transparent {

      background: transparent !important;
      border-bottom: 1px solid transparent !important;

      position: absolute;
      width: 100%;
      top: 0px; left: 0; right: 0;
      margin: 0 auto;
      body.layout-boxed & { max-width: 75em; }
      body.layout-expanded & { max-width: 80em; }

      @media #{$breakpoint_3} {
         #header-additional-bar + #header-marker + & ,
         #header-additional-bar + & { top: 51px; }
      }

      .primary-logo { opacity: 0 !important; }
      .secondary-logo { opacity: 1 !important; }

      .primary-tools a {
         background: transparent;
      }

   }

   @media #{$breakpoint_3} { & {
      &.menu-style-dropdown .primary-tools {
         &:before {
            display: none;
            float: left;
            html:not([dir="rtl"]) & { float: left; }
            html[dir="rtl"] & { float: right; }
            content: ".";
            color: rgba(0,0,0,0);
            text-indent: -999em;
            overflow: hidden;
            width: 1px;
            margin: 0 8px;
            transform: scale(1,0.35);
            transition: background 0.5s ease;
         }
         &.show-divider:before {
            display: block;
         }
      }
   } }

}